.bottom-composition {
    user-select: none;

    .left-side {
        position: absolute;
        bottom: -5px;
        left: 15px;
        z-index: 1;
    }

    .center {
        .town, .sun {
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }

        .town {
            opacity: 0.75;
            bottom: -60px;
            z-index: -1;
        }

        .sun {
            z-index: -2;
        }
    }

    .right-side {
        position: absolute;
        bottom: -5px;
        right: 15px;
    }
}